<%= render partial: "modal" %>
<h3> Skills </h3>
<% if current_user.role == 'worker' %>
   <button type="button" id="myInput" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add</button>
<% end %>

<div class="worker-container">
      <% for worker_skill in @worker.worker_skills%>
          <div class="c">
          <p><strong><%= worker_skill.skill.skill_type%></strong></p>
          <p>Experience: <%= worker_skill.experience%></p>
          <p>Wage per hour: <%= worker_skill.wage%></p>
          <p>Rating: <%= worker_skill.rating%></p>
          <% if current_user.role == 'worker' %>
             <%= button_to 'Remove', worker_skill_path(id: worker_skill.id) ,method: :delete ,class: 'btn btn-danger' %><br/>
             <%= button_to 'Edit', worker_skill_path(id: worker_skill.id) ,method: :delete ,class: 'btn btn-danger' %><br/>
          <% end %>
          <br/>
          </div>

      <% end%>

</div>


