<%= javascript_include_tag "handle_worker_skill" %>

<div class="c">
    <p><strong><%= worker_skill.skill.skill_type%></strong></p>
    <p>Experience: <%= worker_skill.experience%></p>
    <p>Wage per hour: <%= worker_skill.wage%></p>
    <p>Rating: <%= worker_skill.rating%></p>
    <% if current_user.role == 'worker' %>
        <%= button_to 'Edit', worker_skill_path(id: worker_skill.id) ,method: :delete ,class: 'btn btn-danger' %><br/>
        <button class="remove-worker-skill-btn btn btn-danger" data-ws="<%= worker_skill.id %>">Remove</button>
    <% end %>
    <br/>
</div>