
<div class="form-container">
<%= form_with model: WorkerSkill.new, url: worker_skills_path, method: :post do |f| %>

    <div class="field">
            <%= f.label :skill_id %><br />
            <%= f.collection_select :id,Skill.all ,:id,:skill_type,prompt:true ,id: "selected-worker-skill"%>
        </div>
        
        <div class="field">
            <%= f.label :experience %><br />
            <%= f.text_field :experience, autofocus: true, autocomplete: "experience",id:"worker-skill-experience"%>
        </div>

        <div class="field">
            <%= f.label :wage, "Wage/hour" %><br />
            <%= f.text_field :wage, autofocus: true, autocomplete: "wage",id:"worker-skill-wage" %>
        </div>
    
        <div class="actions">
        <%= f.submit 'Add', "data-bs-dismiss": "modal",id:"add-worker-skill-btn"%>
        </div>

    <% end %>
</div>
