<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.hidden_field :hidden_field, name: "hidden", value: "worker" %>

        <%= render "devise/shared/error_messages", resource: resource %>


        <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true, autocomplete: "name", id: "worker_name" %>
        </div>

        <div class="field">
            <%= f.label :address ,class:'input' %><br />
            <%= f.text_field :address,  autofocus: true, autocomplete: "address", id: "worker_address" %>
        </div>

        <div class="field">
            <%= f.label :phone %><br />
            <%= f.text_field :phone, autofocus: true, autocomplete: "phone" ,id: "worker_phone" %>
        </div>

        <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" ,id: "worker_email"%>
        </div>

        <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" ,id: "worker-password"%>
        </div>

        <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password",id: "worker-confirmation-password" %>
        </div>


         <div id="worker-fields">
             <%= f.fields_for :worker, @user.worker || @user.build_worker do |w| %>
                <div class="field">
                        <%= w.label :SSnumber %><br />
                        <%= w.text_field :SSnumber, placeholder: 'SSN' %>
                </div>

                <div class="field">
                    <%= w.label :age %><br />
                    <%= w.number_field :age, placeholder: 'Age',min: 18 %>
                </div>

                <div class="field">
                    <%= w.label :Gender %><br />
                    <%= w.select :gender, ['Male', 'Female'], prompt: 'Select gender' %>
                </div>

                <div class="field">
                    <%= w.label :profile_picture, "Profile picture" %><br/>
                    <%= w.file_field :profile_picture %>
                </div>

                <div class="field">
                    <%= w.label :from_date, 'Available from date' %><br />
                    <%= w.date_field :from_date, class: 'date', id: 'worker_from_date', min: Date.today %>
                </div>

                <div class="field">
                    <%= w.label :to_date, 'Available till date' %><br />
                    <%= w.date_field :to_date, class: 'date', id: 'worker_to_date', max: (Date.today + 40) %>
                    </div>

                <div class="field">
                    <%= w.label :shift %><br />
                    <%= w.select :shift, ['Day', 'Night', 'Both'], prompt: 'Select Shift' %>
                </div>
                
                <div class="field">
                    <%= w.label :language %>
                    <%= w.text_area :language, placeholder: 'Language' %>
                </div>
        
           <% end %>

        </div>            
        <div class="actions">
            <%= f.submit "Sign up" ,id:"worker-submit-btn"%>
        </div>
<% end %>
