<%= stylesheet_link_tag 'devise'%>
<%= javascript_include_tag 'handel_registrations' %>

<div class="main">
    <div class="radio">
        <input type="radio" id="customer" name="user" value="customer" checked>
        <label for="customer">Customer</label><br>
        <input type="radio" id="worker" name="user" value="worker">
        <label for="worker">Worker</label><br>
    </div>

    <div class="container">   
        <div class="form-container">
        <h2>Sign up</h2>

            <div id="worker-form" style="display: none;">
                <%= render partial:"worker_form"%>
            </div>

            <div id="customer-form" style="display: none;">
                <%= render partial:"customer_form"%>
            </div>
          
            <%= render "devise/shared/links" %>
        </div>
    </div>
</div>



