<div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" ,class: 'admin-name'%>
</div>

<div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:'admin-email' %>
</div>

<div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'admin-password' %>
</div>

<div class="actions">
    <%= f.submit data ,class:"submit-btn", "data-bs-dismiss": "modal"%>
</div>
   


