<h1 class="heading">All Admins</h1>
<button type="button" id="myInput" class="btn add-admin-btn yellow-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Admin</button>

<!-- Modal for add admin -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Admin</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">  
        <div class="form-container">
            <%= form_for(@user, url: admins_path, method: :post) do |f| %>
                <%= render partial:"form", locals:{f: f ,data: 'Add'}%>      
            <% end %>
        </div>
        </div>
    </div>
    </div>
</div>


<div class="worker-container">
      <% @admins.each do |admin| %>
          <div class="c">
               <h5 class="card-title">Admin</h5> 
                <p class="card-text"><%= admin.name %></p>
                <p class="card-text"><%= admin.email %></p>
                <button type="button" id="editbtn" class="purple-btn btn" data-bs-toggle="modal" data-bs-target="#editmodal">Edit</button>
            </div>
      <% end %>
</div>

<!-- Modal for edit -->
<div class="modal fade" id="editmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Admin</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">  
        <div class="form-container">
            <%= form_for(@user, url: admins_path(@user.id), method: :patch) do |f| %>
              <%= render partial:"form", locals:{f:f ,data: 'Edit'}%> 
            <% end %>
            </div>
        </div>
    </div>
    </div>
</div>



<script>

console.log("TEST");

$(document).ready(function () {
  $("#submit-btn").on("click", function (e) {
    e.preventDefault();

    admin_data = {
      user: {
        name: $("#name").val(),
        email: $("#email").val(),
        password: $("#password").val()
      },
    };

    console.log(admin_data);
    $.ajax({
      url: "http://localhost:3000/admins/list",
      method: "POST",
      data: admin_data,
      dataType: "html",
      success: function (result) {
        console.log(result);
        $("#all_users").append(result);
      },
    });
  });
});

</script>




