<ul>
<% if bookings %>
  <% bookings.each do |booking| %>
    <li>
      <hr>
      <% booking.booked_services.each do |booked_service| %>
        <div class="booked_service">
          <% if_current_user_customer(current_user) do %>
            <p><strong> worker_name: </strong> <%= booked_service.worker.user.name %></p>
          <% end %>
          <% if_current_user_worker(current_user) do %>
            <p><strong> customer_name: </strong> <%= booked_service.booking.customer.user.name %></p>
          <% end %>
          <p><strong>from_date:</strong> <%= booked_service.from_date %></p>
          <p><strong>to_date: </strong> <%= booked_service.to_date %></p>
          <p><strong>skill_type: </strong> <%= booked_service.skill_type %></p>
          <p><strong>shift: </strong> <%= booked_service.shift %></p>
          <p><strong>wage: </strong> <%= booked_service.wage %></p>
          <% if_current_user_customer(current_user) do %>
                <% check_if_rating_is_not_present(booked_service) do %>
                     <%= render partial: "bookings/each_booking", locals: {booked_service: booked_service } %>
                <% end %>
          <% end %>

          <% check_if_rating_is_present(booked_service) do %>
           <%=  render partial: "bookings/each_review",locals: { booked_service: booked_service } %>
          <% end %>
          </hr>
        </div>
      <% end %>
    </li>
    <br>
  <% end %>
  <% end %>

</ul>
