<ul>
  <% bookings.each do |booking| %>
    <li>
      <hr>
      <% booking.booked_services.each do |booked_service| %>
        <div class="booked_service">
          <p>worker_id: <%= booked_service.worker_id %></p>
          <p>from_date: <%= booked_service.from_date %></p>
          <p>to_date: <%= booked_service.to_date %></p>
          <p>skill_type: <%= booked_service.skill_type %></p>
          <p>shift: <%= booked_service.shift %></p>
          <p>time: <%= booked_service.time %></p>
          <p>wage: <%= booked_service.wage %></p>
          <%= form_for booked_service, url: booked_service_path(booked_service.id), method: :patch do |f| %>
            <%= render partial: "bookings/each_booking", locals: { f: f, booked_service: booked_service } %>
            <%= f.submit 'Update Comment and Rating', class: 'btn btn-primary feedback-submit-btn' %>
          <% end %>
        </div>
      <% end %>
    </li>
    <br>
  <% end %>
</ul>

