
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f3c623;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">HireMe</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to 'Home',root_path,class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Services',new_user_session_path,class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'About Us',aboutus_path,class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Contact Us',contactus_path,class:"nav-link" %>
        </li>
        <% if !current_user %>
        <li class="nav-item">
          <%= link_to 'Apply for Job',new_user_registration_path,  params: {apply_for_job: true}, class:"nav-link", id:"apply-for-job" %>
        </li>
        <% end %>
      </ul>
      <ul class="navbar-nav">
        <% if current_user %>
         <% if current_user.role == "worker"%>
            <li class="nav-item">
            <%= button_to 'Profile', worker_path(id: current_user.id), method: :get, class: "nav-link "%>
            </li>
          <% end %>
           <li class="nav-item">
           <%= button_to 'Log Out', destroy_user_session_path, method: :delete, class: "nav-link log-btn", data: { confirm: 'Are you sure you want to log out?' } %>
           </li>
        <% else %>
          <li class="nav-item">
          <%= link_to 'Login',new_user_session_path,class:"nav-link log-btn" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>


