<nav class="navbar navbar-expand-lg navbar-light fixed-top ">
  <div class="container-fluid">
    <a class= "navbar-bran" href="#"> Hire<span id="me">Me</span><% link_to root_path %> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to 'Home',root_path,class:"nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Services
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to 'Cooks', workers_by_skill_path(skill_id: 1),method: :get, class: 'dropdown-item' %></li>
            <li><%= link_to 'Maids', workers_by_skill_path(skill_id: 2),method: :get, class: 'dropdown-item' %></li>
            <li><%= link_to 'Care Takers', workers_by_skill_path(skill_id: 3),method: :get, class: 'dropdown-item' %></li>
            <li><%= link_to 'Drivers', workers_by_skill_path(skill_id: 4),method: :get, class: 'dropdown-item' %></li>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to 'About Us',aboutus_path,class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Contact Us',contactus_path,class:"nav-link" %>
        </li>
        <% if !current_user %>
        <!-- 
        <li class="nav-item">
          <%= link_to 'Apply for Job',new_user_registration_path,  params: {apply_for_job: true}, class:"nav-link", id:"apply-for-job" %>
        </li>
        -->
        <% end %>
      </ul>
      <ul class="navbar-nav">
        <% if current_user %>
          <% if current_user.role == "admin"%>
            <li class="nav-item">
            <%= button_to 'Pending requests', workers_path(status: 'pending'), method: :get, class: "nav-link" ,params: {status: 'pending'}%>
            </li>
            <li class="nav-item">
             <%= button_to 'Admin', admins_path, method: :get, class: "nav-link "%>
            </li>
         <% end %>
         <% if !current_user.role == "admin"%>
            <li class="nav-item">
            <%= button_to 'Profile', worker_path(id: current_user.worker.id), method: :get, class: "nav-link "%>
            </li>
          <% end %>
           <li class="nav-item">
           <%= button_to 'Log Out', destroy_user_session_path, method: :delete, class: "nav-link log-btn", data: { confirm: 'Are you sure you want to log out?' } %>
           </li>
        <% else %>
          <li class="nav-item">
          <%= link_to 'Login',new_user_session_path,class:"nav-link log-btn" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>


