<h2>Profile </h2>
<p> <strong> Name:</strong> <%= @customer.user.name %></p>
<p> <strong> Email:</strong> <%= @customer.user.email %> </p>
<p> <strong> Address:</strong> <%= @customer.user.address %> </p>
<p> <strong> Phone:</strong> <%= @customer.user.phone %> </p>

<%= button_to 'Edit',edit_customer_path(id: @customer.id), method: :patch ,class: "btn purple-btn"%>

<div class = "booking-container" >
    <h2><%= @customer.user.name %>'s Booking History</h2>
    <%= render partial: "bookings/all_bookings",locals:{bookings: @bookings} %>
</div>
