<h1>Home</h1>
<% if current_user %>
    <p>Hello <%= current_user.email %></p>
    <p>Welcome</p>
    <p>You are a [<%= current_user.role %>]</p>

  <% if current_user.worker %>  
          <% if current_user.worker.profile_picture.attached? %>
              <%= image_tag current_user.worker.profile_picture ,class: "img"%>
          <% else %>
             <p>No profile picture available</p>
          <% end %>
          <p> age[<%= current_user.worker.age %>] </p>
          <p>SSnum [<%= current_user.worker.SSnumber %>] </p>
          <p>gender [<%= current_user.worker.gender %>] </p>

  <% else %>
    <p>No worker record found for this user</p>
  <% end %>
    <%= button_to 'Log Out', destroy_user_session_path, method: :delete %>
 
<% end %>
