<%= javascript_include_tag 'timmings' %>

<%= stylesheet_link_tag 'pages'%>

<div class= "image-container">
    <img class="home-img" src="<%= asset_path('home bg.png') %>" alt="Card image cap">
</div>

<div class="portal">
<%= form_with url: workers_filter_path, method: :post, id: "filter-form",class: "form", remote: true do |f| %>
    <div class="field">
    <%= f.label :Services %><br />
    <%= f.collection_select :skill_type, Skill.all, :skill_type, :skill_type, prompt: true, required: true %>
  </div>
    <div class="field">
        <%= f.label :from_date, 'From Date' %><br />
        <%= f.date_field :from_date, class: 'date form-control' , min: Date.today, required: true%>
    </div>
    <div class="field">
        <%= f.label :to_date, 'To Date' %><br />
        <%= f.date_field :to_date, class: 'date form-control', id: 'worker_to_date', max: (Date.today + 30), required: true %>
    </div>
    <div class="field">
        <%= f.label :day_night  %><br />
        <%= select_tag :day_night, options_for_select(["Day", "Night"]), class: "form-control", id: "day_night_select" %>
    </div>
    <div class="field">
        <%= f.label :gender  %><br />
        <%= select_tag :gender, options_for_select(["Male", "Female"]), class: "form-control", id: "gender_select" %>
    </div>
    <div class="field">
        <%= f.label :wage  %><br />
        <%= select_tag :wage_per_hour, options_for_select(["All", "0-200", "201-500","501-1000","above"], nil), class: "form-control", id: "wage_select" %>
      </div>
    <div class="field">
        <%= f.label :rating  %><br />
        <%= select_tag :rating, options_for_select(["All", "5-4", "3-2","below"]), class: "form-control", id: "rating_select" %>
    </div>
    <div class="field">
        <%= label :hours_per_day, "Hours per Day" %><br />
        <%= number_field :hours_per_day, nil, class: "form-control", min: 1, id: "hours_per_day_input", placeholder: "hours per day" , required: true%>
    </div>
    <div class="field">
        <%= label :timing, "Timing" ,class: "time, required: true"%><br />
        <div id="timing_scroll">
            <select name="timing" class="field form-control">
            </select>
        </div>
    </div>
    <div class="field submit-btn">
        <%= submit_tag "Apply Filters", id: "apply-filter-btn",class: "btn  filter-btn" %>
    </div>

<% end %>
</div>


<div class="available-workers">
    <h1 class="worker-heading" >Available workers</h1>
    <div class="worker-container", id="available-worker-container">
         <%= render partial: "workers/filtered_workers", locals: {filtered_workers: workers} %>
    </div>
</div>



<script>
$(document).on("submit", "#filter-form", function(e) {
  e.preventDefault();

  const serializedData = $(this).serialize(); // Serialize form data
  console.log(serializedData); // Log the serialized data

  $.ajax({
    url: $(this).attr("action"),
    method: $(this).attr("method"),
    data: serializedData,
    success: function(response) {
        console.log(response);
        $("#available-worker-container").empty();
        $("#available-worker-container").html(response);
        }
  });
});


</script>