<%= javascript_include_tag 'timmings' %>
<%= javascript_include_tag 'handel_workers' %>

<%= stylesheet_link_tag 'workers'%>

<div class= "worker-img">
    <img class="worker-index-img" src="<%= asset_path('home bg.png') %>" alt="Card image cap">
</div>
 <%= render partial: "workers/filter_form" %>

<div class="available-workers">
    <h2 class="worker-heading" >Available workers</h2>
    <div class="worker-container", id="available-worker-container">
         <%= render partial: "workers/filtered_workers", locals: {filtered_workers: workers} %>
    </div>
</div>
