<div class="filter-by-wage-form">
      <%= form_with url: filter_path	,method: :post do |f| %>
        <%= f.select :wage_query, options_for_select([['High to low', 'desc'], ['Low to high', 'aesc']]), { prompt: 'Wage' }, id: 'filter-by-wage', class: 'form-field' %>
        <%= f.select :rating_query, options_for_select([['5', 'five'], ['3-4', 'three-four'], ['<3', 'below-three']]), { prompt: 'Rating' }, id: 'filter-by-rating', class: 'form-field' %>

        <%= f.submit "Filter" ,id:"filter-btn", class: 'btn btn-yellow'%>
      <% end %>
</div>



<h1 class="worker-heading" >All workers</h1>
<div class="worker-container", id="available-worker-container">
  <% filtered_workers.each do |worker| %>
    <div class="c">
      <%= render partial: "worker_details",locals: {worker: worker} %>
      <div class="button-row">
        <%= button_to 'View', worker_path(id: worker.id), method: :get, class: 'btn purple-btn ' %>
        <%# <%= button_to 'Add service', cart_services_path(worker_id: worker.id, filter_params: @filter_params), class: 'btn purple-btn', method: :post, id: 'add-service-btn' %> %>
        <%= button_to 'Contact', workers_path, class: 'btn purple-btn' %>
      </div>
    </div>
  <% end %>
</div>



<script>

$(document).ready(function () {
  $("#filter-btn").on("click", function (event) {
    event.preventDefault();
    const wageVal = $("#filter-by-wage").val();
    const ratingVal = $("#filter-by-rating").val();
    filterData = {
      wage_query: wageVal,
      rating_query: ratingVal
    };
    console.log(filterData);
    $.ajax({
      url: "http://localhost:3000/filter",
      method: "post",
      data: filterData,
      success: function (response) {
        console.log(response);
        $("#available-worker-container").empty();
        $("#available-worker-container").html(response);
      }
    });
  });
});
 

</script>