<div class="filter-by-wage-form">
      <%= form_with url: filter_by_wage_path	 do |f| %>
        <%= f.select :query, options_for_select([['High to low', 'desc'], ['Low to high', 'aesc']]), { prompt: 'Wage' }, id: 'filter-by-wage', class: 'form-field' %>
        <%= f.submit "Filter" ,id:"filter-by-wage-btn", class: 'btn btn-yellow'%>
      <% end %>
</div>

 <div class="filter-by-rating-form">
      <%= form_with url: filter_by_rating_path	 do |f| %>
        <%= f.select :query, options_for_select([['5', 'five'], ['3-4', 'three-four'], ['<3', 'below-three']]), { prompt: 'Rating' }, id: 'filter-by-rating', class: 'form-field' %>
        <%= f.submit "Filter" ,id:"filter-by-rating-btn", class: 'btn btn-yellow'%>
      <% end %>
</div>

<h1 class="worker-heading" >All workers</h1>
<div class="worker-container", id="available-worker-container">
  <% @available_workers.each do |worker| %>
    <div class="c">
      <%= render partial: "worker_details",locals: {worker: worker} %>
      <div class="button-row">
        <%= button_to 'View', worker_path(id: worker.id), method: :get, class: 'btn purple-btn ' %>
        <%= button_to 'Add service', cart_services_path(worker_id: worker.id, filter_params: @filter_params), class: 'btn purple-btn', method: :post, id: 'add-service-btn' %>
        <%= button_to 'Contact', workers_path, class: 'btn purple-btn' %>
      </div>
    </div>
  <% end %>
</div>



<script>

$(document).ready(function () {
  $("#filter-by-wage-btn").on("click", function (event) {
    event.preventDefault();
    const filterval = $("#filter-by-wage").val();
    filterData = {
      query: filterval,
    };
    $.ajax({
      url: "http://localhost:3000/filter_wage",
      type: "GET",
      data: searchData,
      success: function (response) {
        console.log(response);
        $("#available-worker-container").empty();
        $("#available-worker-container").html(response);
      },
      error: function (xhr, status, error) {
        console.error("Error:", error); 
      },
    });
  });
});



$(document).ready(function () {
    $("#add-worker-skill-btn").on("click", function (event) {
      event.preventDefault();

      worker_skill = {worker_skill: {
          
          id: $('#worker_skill_id option:selected').val(),
          wage: $("#worker-skill-experience").val(),
          experience: $("#worker-skill-experience").val(),
     
      }};

      console.log(worker_skill);
      $.ajax({
        url: "http://localhost:3000/worker_skills",
        method: "POST",
        data: worker_skill,
        dataType: "html",
        success: function (result) {
          $("#all-skills-of-worker").append(result);
        },
      });
    });
  });

</script>