<div class="container">   
    <div class="form-container">
        <h2>Update</h2>  
        <%= form_for(@worker, url: worker_path(id: @worker.id), method: :put) do |w| %>

    
          <div class="field">
            <%= w.label :age %><br />
            <%= w.number_field :age, placeholder: 'Age' %>
          </div>
    
          <div class="field">
            <%= w.label :Gender %><br />
            <%= w.select :gender, ['Male', 'Female', 'Other'], prompt: 'Select gender' %>
          </div>
    
          <div class="field">
            <%= w.label :profile_picture, "Profile picture" %><br/>
            <%= w.file_field :profile_picture %>
          </div>
    
          <div class="field">
            <%= w.label :from_date, 'Available from date' %><br />
            <%= w.date_field :from_date, class: 'date', id: 'worker_from_date', min: Date.today %>
          </div>
    
          <div class="field">
            <%= w.label :to_date, 'Available till date' %><br />
            <%= w.date_field :to_date, class: 'date', id: 'worker_to_date', max: (Date.today + 40) %>
          </div>
    
          <div class="field">
            <%= w.label :shift %><br />
            <%= w.select :shift, ['Day', 'Night', 'Both'], prompt: 'Select Shift' %>
          </div>
          
          <div class="field">
            <%= w.label :language %>
            <%= w.text_area :language, placeholder: 'Language' %>
          </div>

      <div class="actions">
        <%= w.submit "Update", id: "submit-btn"%>
      </div>

    <% end %>
 </div>
</div>