<h1>All workers</h1>
<% @workers.each do |worker| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Worker</h5> 

        <p class="card-text">Name: <%= worker.name %></p>
        <p class="card-text">Email: <%= worker.email %></p>
        <p class="card-text">Phone: <%= worker.phone %></p>
        <p class="card-text">Address: <%= worker.address %></p>
        <p class="card-text">Age: <%= worker.worker.age %></p>
        <p class="card-text">gender: <%= worker.worker.gender %></p>

    </div>
  </div>
<% end %>
